@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Sintony:wght@400;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-rufina: Rufina, "serif";
  --font-sintony: Sintony, "sans-serif";

  --color-lightTheme: oklch(0.9892 0.0102 81.8);
  --color-darkHover: oklch(0.1791 0.0101 116.61);
  --color-darkTheme: oklch(0.2645 0 0);
  --color-lightHover: oklch(0.8871 0.0513 260.16);
}
